body {
	margin: 0;
	font-family: Helvetica;
}

#badge {
	border-radius: 20%;
	width: 80px;
	height: 80px;
}

#container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	flex-direction: column;
}